menu "ProgressBar Configuration"

    config WIFI_AP_NAME
        string "WiFi AP Name"
        default ""
        help
            WiFi access point name.

    config WIFI_AP_PASS
        string "WiFi AP Password"
        default ""
        help
            WiFi access point password.

    menu "Payment Backend"

        config API_SERVER_ADDR
            string "API Server Address"
            default "payment.example.org"
            help
                The address of the web server that hosts the payment backend.

        config API_SERVER_PORT
            int "API Server Port"
            default 80
            help
                Port on which the api web server listens.

        config API_SERVER_PATH
            string "API Server Path"
            default "/api/charge"
            help
                Path on which to reach the payment api.

    endmenu

    menu "Screen Backend"

        config SCREEN_SERVER_ADDR
            string "Screen Server Address"
            default "screen.example.org"
            help
                The address of the web server that hosts the screen backend.

        config SCREEN_SERVER_PORT
            int "Screen Server Port"
            default 80
            help
                Port on which the screen web server listens.

        config SCREEN_SERVER_PATH
            string "Screen Server Path"
            default "/"
            help
                Path on which to query the screen api.

    endmenu

endmenu
