menu "ProgressBar Configuration"

    config I2C_MASTER_SCL
        int "SCL GPIO Num"
        default 6
        help
            GPIO number for I2C Master clock line.

    config I2C_MASTER_SDA
        int "SDA GPIO Num"
        default 5
        help
            GPIO number for I2C Master data line.

    config I2C_MASTER_NUM
        int "Master Num"
        default 0
        help
            I2C master i2c port number, the number of i2c peripheral interfaces available will depend on the chip

    config I2C_MASTER_FREQ_HZ
        int "I2C Clock Freq"
        default 400000
        help 
            I2C master clock frequency

    config I2C_MASTER_TX_BUF_DISABLE
        int "I2c Master TX Buff Disable"
        default 0
        help
            I2C master doesn't need buffer

    config I2C_MASTER_RX_BUF_DISABLE
        int "I2c Master RX Buff Disable"
        default 0
        help
            I2C master doesn't need buffer

    config I2C_MASTER_TIMEOUT_MS
        int "I2c Master Timeout"
        default 1000

    config WIFI_AP_NAME
        string "WiFi AP Name"
        default ""
        help
            Access point name for WiFi provisioning.

    config WIFI_AP_PASS
        string "WiFi AP Password"
        default "beertime"
        help
            Access point password for WiFi provisioning.

    config WIFI_PROV_POP
        string "WiFi POP"
        default "beertime"
        help
            Any device that want's to provision us with WiFi credentials needs proper authorization.
            This is accomplished by the device authorizing itself to us with a Proof of Possession Key/Password.

    config WEB_SERVER_ADDR
        string "Backend Address"
        default "example.org"
        help
            The address of the web server that hosts the payment backend.

    config WEB_SERVER_PORT
        int "Backend Port"
        default 80
        help
            Port on which the backend web server listens.

    config WEB_SERVER_PATH
        string "Backend Path"
        default "/api/charge"
        help
            Path on which to reach the backend API.

endmenu
